body {
  margin: 0px;
  display: flex;
}
.bLeft {
  width: 300px;
  background-color: #e8e8e8;
	min-height: 1000px;
}
.bLeft div {
	margin: 0px 0px 20px 0px;
}
.left-head {
  /* background-color: #353535; */
  height: 80px;
}
.btn-new {
  padding: 12px 80px;
  margin: 20px 55px;
  background-color: #f9c80c;
  border: none;
  text-align: center;
	text-decoration: none;
}
.btn-new:hover {
	background-color: #c7a003;
	cursor: pointer;
}

.b-right {
	width: 1605px;
}
.header {
	height: 80px;
	box-shadow: 0px 0px 5px 0px #ccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.filters {
	display: inline-block;
	margin: 0px 20px;
	padding: 10px 20px;
	background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
}

.filter-by {
	background-color: #fafafa;
	height: 32px;
	width: inherit;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 5px 0px #ccc;
	color: #bcbcbc;
	font-size: 14px;
}
h3 {
	padding: 0px 10px 0px 30px;
	font-size: 14px;
	color: #8a8a8a
}

.hItem {
	margin: 0px 40px;
	color: #707070;
}
.quick-view h2 {
	padding: 0px 0px 0px 40px;
}

.btn {
	display: inline-block;
	width: 300px;
	height: 40px;
	background-color: transparent;
  border: none;
  text-align: left;
	text-decoration: none;
	padding: 0px 0px 0px 40px;
}

button:hover {
	background-color: #d5d5d5;
	cursor: pointer;
}